{% extends 'base.html.twig' %}

{% block title %}Edit Client{% endblock %}

{% block body %}
    <h1>Edit Client: {{ client.name }} {{ client.lastName }}</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit" class="btn btn-primary">Save</button>
    {{ form_end(form) }}

    <a href="{{ path('client_list') }}" class="btn btn-secondary mt-3">Back to Client List</a>
{% endblock %}